<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="outPattern" value="[%-5p]  %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n"/>
    <!-- 文件历史数 -->
    <property name="maxHistory" value="7"/>

    <springProfile name="dev">
        <property name="logLevel" value="debug"/>
    </springProfile>
    <springProfile name="test">
        <property name="logLevel" value="debug"/>
    </springProfile>
    <springProfile name="prod">
        <property name="logLevel" value="info"/>
    </springProfile>

    <!-- logback -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${outPattern}</pattern>
        </encoder>
    </appender>


    <!--logger -->
    <logger name="com.alibaba.dubbo" level="error" additivity="false">
        <springProfile name="dev">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </logger>
    <logger name="org.springframework" level="error" additivity="false">
        <springProfile name="dev">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </logger>

    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>